body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #1F2937;
    padding: 16px;
}
.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
button {
    background-color: #3882F6;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    height: 40px;
}
.sign-up-top {
    border: none;
}
.sign-up-botton {
    border: 2px solid #F9FAF8;
}
.call-to-action {
    background-color: #3882F6;
}
h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.testimonial {
    background-color: #E5E7EB;
}
.quote {
    font-size: 36px;
    font-style: italic;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 64px;
    margin-right: 64px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.links {
    display: flex;
    gap: 16px;
}
.hero {
    display: flex;
    margin-left: 64px;
    gap: 16px;
    align-items: center;
    height: 400px;
}
.hero-image {
    width: 200px;
    height: 100px;
    margin: auto;
}
.content-image {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    outline: 2px solid #3882F6;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}
.items {
    display: flex;
    justify-content: space-around;
    gap: 36px;
    flex-wrap: wrap;
}
.item {
    text-align: center;
    width: 200px;
}
.testimonial {
    display: flex;
    flex-direction: column;
    padding: 64px;
}
.attribution {
    align-self: flex-end;
    font-weight: bold;
}
.call-to-action {
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 128px;
    margin-right: 128px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}